.header {
  position: relative;
  background-color: #fff;
  
  .social__link {
    svg {
      fill: #202020;
    }
  }
  
  .social__item {
    margin-top: 0;
  }
  
  .social {
    margin-left: auto;
  }
}

.header__menu-btn {
  display: none;
}

.header__top {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: @grey;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {  
  img {
    display: block;
    height: 80px;
    width: auto;
  }
}

.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:first-child {
    margin-bottom: 15px;
  }
}

.header__menu {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 35px;
  padding-left: 5px;
}

.header__item {
  margin-right: 15px;
  font-size: 14px;
  
  a {
    text-decoration: none;
  }
  
  &:hover a,
  &:active a,
  &--active a {
    color: @blue;
    text-decoration: underline;
  }
}
