.menu {
  position: relative;
  top: 0;
  z-index: 1000;
  margin-bottom: 10px;
  background-color: @blue;
}

.menu__drop-btn,
.menu__btn {
  display: none;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__item {
//  position: relative;
  flex-grow: 1;
  .transition();
  
  &:hover,
  &:active,
  &--active {
    background-color: rgba(255,255,255,0.3);
    .transition();
  }
  
  &:hover .menu__drop {
    display: block;
  }
}

.menu__link {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  .transition();
  
  &--catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      fill: #fff;
      .transition();
    }
  }
}

.menu__drop {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
}

.menu__sublist {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 35px;
  background-color: #fff;
  border-top: 1px solid @blue;
  border-bottom: 1px solid @blue;
}

.menu__subitem {
  width: 25%;
  padding: 10px;
  padding-left: 0;
  font-size: 16px;
  
  a {
    text-decoration: none;
  }
  
  &:hover a,
  &:active a {
    color: @blue;
    text-decoration: underline;
  }
}
