.product__top {
  position: relative;
  padding-top: 95px;
  padding-bottom: 40px;
  padding-right: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product__title {
  position: relative;
  margin: 0;
  margin-right: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #202020;
  font-size: 36px;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    opacity: 0.1;
  }
  
  &--icon1::before {
    background-image: url(../img/icons/car-wheel.svg);
  }
  
  &--icon2::before {
    background-image: url(../img/icons/speed-meter.svg);
  }
  
  &--icon3::before {
    background-image: url(../img/icons/rule.svg);
  }
}

.product__link {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: @blue;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.brand__prev,
.brand__next,
.product__prev,
.product__next {
  top: 100px;
  width: 40px;
  height: 40px;
  margin-top: 0;
  background-image: url(../img/icons/right-arrow-angle.svg);
  background-size: 30px 30px;
  outline: none;
}

.brand__prev,
.product__prev {
  right: 50px;
  left: auto;
  transform: rotate(180deg);
}

.brand__next,
.product__next {
  right: 0;
}

.product__slide {
  box-sizing: border-box;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  .transition();
  
  &:hover {
    border-color: @blue;
    .transition();
  }
}
