.search {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid @red;
  border-radius: 5px;
}

.search__input {
  width: 250px;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  color: #202020;
  background-color: rgba(255,255,255,0);
  
  &::placeholder {
    opacity: 0.7;
  }
}

.search__btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: @blue;
    .transition();
  }
  
  &:hover,
  &:active {
    svg {
      fill: @blue;
      .transition();
    }
  }
}
