.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  
  &--columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  
  img {
    display: block;
    max-width: 80px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
  }
}
